<h1 mat-dialog-title>
  {{ translateKey + ".create.title" | translate }}
</h1>
<mat-dialog-content>
  <mat-form-field
    appearance="outline"
    style="margin-top: 8px; width: 100%">
    <mat-label>
      {{ translateKey + ".create.select-template.label" | translate }}
    </mat-label>
    <mat-select
      [formControl]="templateSelection"
      #matSelect
      (openedChange)="overrideHeight($event, matSelect)">
      <mat-optgroup
        *ngFor="let group of templateGroups"
        [label]="(translateKey + '.group-label' | translate)[group.key]">
        <mat-option
          *ngFor="let template of group.templates"
          [value]="template">
          {{ translateKey + ".template-name-" + template.name | translate }}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>

  <ng-container #viewContainerRef></ng-container>
</mat-dialog-content>

<mat-dialog-actions
  [class.no-pad]="true"
  [class.align-content-right]="true">
  <button
    mat-button
    (click)="dialogRef.close()">
    <span>{{ translateKey + ".edit.cancel" | translate }}</span>
  </button>
  <button
    (click)="create()"
    mat-flat-button>
    <mat-icon>rocket_launch</mat-icon>
    <span>{{ translateKey + ".edit.start" | translate }}</span>
  </button>
</mat-dialog-actions>
