:host {
  color: var(--md-sys-color-on-surface);

  > div {
    width: 100%;
    height: calc(100% - 128px);
    max-height: calc(100% - 128px);
    position: absolute;
    display: flex;
    flex-direction: column;
  }
}

.question-wall-content {
  flex-grow: 1;
  background-color: var(--md-sys-color-surface1);
}

//:host {
//  color: var(--md-sys-color-on-surface);
//  background-color: var(--md-sys-color-surface);
//  .userActivityIcon {
//    display: inline-block;
//    -webkit-mask-image: url("../../../../../assets/icons/activity.svg");
//    mask-image: url("../../../../../assets/icons/activity.svg");
//    mask-repeat: no-repeat;
//    mask-position: center;
//    mask-size: 100% 100%;
//  }
//
//  p,
//  h1,
//  h2,
//  h3,
//  h4,
//  h5 {
//    padding: 0;
//    margin: 0;
//  }
//
//  .test {
//    width: 100%;
//    height: 250px;
//    box-shadow: inset 0 0 0 1px black;
//  }
//
//  .icon-svg {
//    color: var(--md-sys-color-on-surface);
//    height: 18px;
//    width: 18px;
//  }
//
//  .pseudo-button {
//    cursor: default;
//
//    > * {
//      cursor: default;
//    }
//  }
//
//  .questionwall {
//    &-icon {
//      font-family: "Material Icons", serif;
//      font-weight: normal;
//      font-style: normal;
//      font-size: 22px;
//      line-height: 18px;
//      padding: 0;
//      color: var(--md-sys-color-on-surface);
//      margin-right: -3px;
//    }
//
//    &-header {
//      height:64px;
//      border-bottom: solid 1px red;
//      transition: all 0.2s ease-in-out;
//      z-index: 4;
//    }
//
//    &-footer {
//      height:64px;
//      border-top: solid 1px pink;
//      transition: all 0.2s ease-in-out;
//      z-index: 54;
//
//      > * {
//        height: 100%;
//        float: left;
//      }
//    }
//
//    &-comment {
//      &-meta {
//        display: flex;
//        justify-content: flex-start;
//        flex-direction: row;
//      }
//
//      &-border {
//        &-on {
//          box-shadow: inset 0px 0px 0px 1px red;
//        }
//
//        &-off {
//          box-shadow: inset 0px 0px 0px 0px red;
//        }
//      }
//
//      &-timestamp {
//        color: var(--md-sys-color-on-surface);
//        font-size: 14px;
//        line-height: 18px;
//      }
//
//      &-user {
//        color: var(--md-sys-color-on-surface);
//        font-size: 14px;
//        padding-right: 8px;
//        line-height: 18px;
//      }
//
//      &-body {
//        hyphens: auto;
//        word-break: break-word;
//        color: var(--md-sys-color-on-surface);
//        line-height: 22px;
//        white-space: normal;
//
//        hr {
//          border: 1px solid red;
//        }
//      }
//
//      &-btn {
//        > button > * {
//          color: darkorange;
//        }
//      }
//
//      &-notification {
//        font-size: 12px;
//        text-transform: uppercase;
//        letter-spacing: 2px;
//        line-height: 18px;
//        font-weight: 600;
//        color: #cc4244;
//      }
//
//      &-number {
//        font-size: 20px;
//        padding-left: 25px;
//
//        > mat-icon {
//          font-size: 25px;
//          width: 25px;
//          height: 100%;
//          vertical-align: text-bottom;
//        }
//      }
//    }
//
//    &-list {
//      box-sizing: border-box;
//      border-left: solid 1px red;
//
//      &-filter {
//        border-top: solid 1px red;
//        border-bottom: solid 1px red;
//      }
//
//      &-border-bottom {
//        border-bottom: solid 1px red;
//      }
//
//      &-scroll {
//        width: 100%;
//        height: 100%;
//        display: flex;
//        flex-direction: column;
//      }
//    }
//
//    &-present {
//      font-size: 45px;
//      padding: 16px 32px 16px 32px;
//      hyphens: auto;
//      word-break: break-word;
//
//      &-options {
//        &-outer {
//          width: 0;
//          height: 0;
//          position: relative;
//        }
//
//        &-inner {
//          width: 180px;
//          height: 50px;
//          position: relative;
//          top: 16px;
//          left: -212px;
//        }
//
//        &-slider {
//          display: flex;
//          flex-grow: 1;
//          overflow: visible;
//        }
//      }
//
//      &-box {
//        &-outer {
//          display: flex;
//          flex-direction: row;
//          justify-content: left;
//          hyphens: auto;
//          word-break: break-word;
//          overflow-x: visible;
//          overflow-y: scroll;
//          max-height: calc(100vh - 100px);
//        }
//
//        &-inner {
//          width: 80%;
//          margin-left: 200px;
//          flex-shrink: 1;
//        }
//      }
//
//      &-meta {
//        padding-top: 16px;
//        display: flex;
//        justify-content: flex-start;
//        flex-direction: row;
//
//        &-left {
//          padding-left: 32px;
//        }
//
//        &-icon {
//          font-size: 22px;
//          margin-right: -3px;
//        }
//
//        &-user {
//          font-size: 18px;
//          padding-left: 4px;
//          padding-right: 16px;
//        }
//
//        &-timestamp {
//          font-size: 18px;
//          font-weight: 400;
//        }
//
//        &-number {
//          padding-right: 0.4em;
//          font-size: 50px;
//          padding-left: 16px;
//
//          > mat-icon {
//            font-size: 70px;
//            width: 70px;
//            height: 100%;
//            vertical-align: text-bottom;
//          }
//        }
//      }
//
//      &-introduction {
//        &-title {
//          font-size: 35px;
//          padding: 32px 32px 0 32px;
//        }
//
//        &-desc {
//          font-size: 18px;
//          padding: 16px 32px 0 32px;
//        }
//      }
//    }
//
//    &-screen {
//    }
//
//    &-text {
//      &-color {
//      }
//    }
//  }
//
//  .bound img {
//    max-width: 100%;
//  }
//
//  .flex {
//    &-column {
//      &-center {
//        display: flex;
//        flex-direction: column;
//        justify-content: center;
//      }
//    }
//  }
//
//  .icon-color {
//
//    &-yellow {
//      transform: scale(1.5);
//    }
//  }
//}
//
//:host ::ng-deep {
//  .questionwall-present-markdown {
//    max-width: 100%;
//
//    hr {
//      border: 1px solid pink;
//    }
//  }
//
//  .side-list-numbers {
//    border-radius: 100%;
//    padding: 8px;
//    box-sizing: border-box;
//
//    > p {
//      text-align: center;
//    }
//
//    &-indicator {
//      width: 10px;
//      height: 10px;
//      background-color: yellow;
//      border-radius: 2px;
//      position: relative;
//      left: 50%;
//      top: 50%;
//      transform: translate(-50%, -50%);
//      transition: all 0.1s ease-in-out;
//    }
//  }
//
//  .sln-indicator {
//    &-on {
//      width: 20px;
//      height: 20px;
//      background-color: var(--md-sys-color-surface);
//    }
//
//    &-off {
//      width: 10px;
//      height: 10px;
//    }
//  }
//
//  .sln {
//    &-on {
//      cursor: default;
//    }
//
//    &-off {
//      cursor: pointer;
//    }
//  }
//
//  .side-list {
//    transition: width ease-in-out 0.1s;
//  }
//
//  .qr-overlay {
//    position: fixed;
//    left: 32px;
//    bottom: 64px;
//    width: 200px;
//    height: 200px;
//    animation: popin-qr-overlay 0.2s cubic-bezier(0, 0.04, 0, 1) both;
//  }
//
//  @keyframes popin-qr-overlay {
//    0% {
//      transform: scale(0);
//    }
//    100% {
//      transform: scale(1);
//    }
//  }
//
//  @for $i from 1 through 100 {
//    .qw-fade-animation:nth-child(#{$i}n) {
//      animation-delay: #{$i * 0.1}s;
//    }
//  }
//
//  @for $i from 1 through 100 {
//    .qw-comment-fade-animation:nth-child(#{$i}n) {
//      animation-delay: #{$i * 0.1}s;
//    }
//  }
//
//  @for $i from 1 through 100 {
//    .qw-opening-fade-animation:nth-child(#{$i}n) {
//      animation-delay: #{$i * 0.1}s;
//    }
//  }
//
//  .qw-comment-fade-animation {
//    animation: qw-comment-fade 0.2s ease-in-out both;
//  }
//
//  .qw-opening-fade-animation {
//    animation: qw-opening-fade 0.1s ease-in-out both;
//  }
//
//  .qw-fade-animation {
//    animation: qw-fade 0.2s ease-in-out both;
//  }
//
//  @keyframes qw-fade {
//    0% {
//      opacity: 0;
//    }
//    100% {
//      opacity: 1;
//    }
//  }
//
//  @keyframes qw-opening-fade {
//    0% {
//      opacity: 0;
//    }
//    100% {
//      opacity: 1;
//    }
//  }
//
//  @keyframes qw-comment-fade {
//    0% {
//      opacity: 0;
//      margin-top: 32px;
//    }
//    100% {
//      opacity: 1;
//      margin-top: 0px;
//    }
//  }
//
//  .qw-loading {
//    width: 640px;
//    height: 360px;
//    position: fixed;
//    left: 50%;
//    top: 50%;
//    transform: translate(-50%, -50%);
//    z-index: 10000;
//  }
//
//  .qw-center-text {
//    text-align: center;
//  }
//
//  /* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
//  .qw-mat-button-wrapper {
//    box-sizing: border-box;
//    padding: 16px;
//
//    > button > span > mat-icon {
//      margin-right: 8px;
//    }
//
//    > * {
//    }
//  }
//
//  .qw-text-heading {
//  }
//
//  .qw-text-paragraph {
//  }
//}
//
//.selected {
//  font-weight: bold;
//}
//
//button > mat-icon {
//  color: var(--md-sys-color-on-surface);
//  height: unset;
//}
//
//ars-mat-paginator {
//  display: block;
//  float: left;
//
//  ::ng-deep {
//    * {
//    }
//  }
//}
