<h2 mat-dialog-title>{{ "content.brainstorm-title" | translate }}</h2>

<mat-dialog-content>
  @if (isLoading) {
    <app-mat-spinner-overlay></app-mat-spinner-overlay>
  } @else {
    @if (userRole > 0 && !brainstormingData?.active) {
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            {{
              "content.brainstorm-new-session" + (isMobile ? "-short" : "")
                | translate
            }}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <mat-form-field appearance="fill">
            <mat-label>
              {{ "content.brainstorming-question" | translate }}
            </mat-label>
            <input
              matInput
              autofocus
              autocomplete="off"
              type="text"
              appAccessibilityEscapedInput
              (keyup)="checkForEnter($event)"
              [(ngModel)]="question" />
            <button
              *ngIf="question"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="question = ''">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>
              {{ "content.brainstorming-word-count" | translate }}
            </mat-label>
            <input
              matInput
              autocomplete="off"
              type="number"
              appAccessibilityEscapedInput
              [min]="maxWordCountMin"
              [max]="maxWordCountMax"
              [formControl]="maxWordCount" />
            <mat-hint>
              {{
                "content.field-hint-number"
                  | translate: { min: maxWordCountMin, max: maxWordCountMax }
              }}
            </mat-hint>
            <mat-error *ngIf="maxWordCount.hasError('required')">
              {{ "content.field-required" | translate }}
            </mat-error>
            <mat-error *ngIf="maxWordCount.hasError('min')">
              {{
                "content.field-too-low" | translate: { min: maxWordCountMin }
              }}
            </mat-error>
            <mat-error *ngIf="maxWordCount.hasError('max')">
              {{
                "content.field-too-high" | translate: { max: maxWordCountMax }
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>
              {{ "content.brainstorming-word-length" | translate }}
            </mat-label>
            <input
              matInput
              autocomplete="off"
              type="number"
              appAccessibilityEscapedInput
              [min]="maxWordLengthMin"
              [max]="maxWordLengthMax"
              [formControl]="maxWordLength" />
            <mat-hint>
              {{
                "content.field-hint-number"
                  | translate: { min: maxWordLengthMin, max: maxWordLengthMax }
              }}
            </mat-hint>
            <mat-error *ngIf="maxWordLength.hasError('required')">
              {{ "content.field-required" | translate }}
            </mat-error>
            <mat-error *ngIf="maxWordLength.hasError('min')">
              {{
                "content.field-too-low" | translate: { min: maxWordLengthMin }
              }}
            </mat-error>
            <mat-error *ngIf="maxWordLength.hasError('max')">
              {{
                "content.field-too-high" | translate: { max: maxWordLengthMax }
              }}
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>
              {{ "content.brainstormin-language-title" | translate }}
            </mat-label>
            <mat-select [formControl]="language">
              <mat-option
                *ngFor="let lang of languages"
                [value]="lang">
                {{ "content.brainstormin-language." + lang | translate }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="language.hasError('required')">
              {{ "content.field-required" | translate }}
            </mat-error>
          </mat-form-field>
          <mat-label>
            {{
              "content.brainstorming-duration"
                | translate: { duration: getDuration() }
            }}
          </mat-label>
          <mat-slider
            [min]="5"
            [max]="45"
            [step]="5"
            discrete
            [(ngModel)]="brainstormingDuration"
            [displayWith]="displayMin"
            showTickMarks>
            <input matSliderThumb />
            <input matSliderThumb />
          </mat-slider>
          <br />
          <mat-slide-toggle [(ngModel)]="brainstormingAllowIdeas">
            {{ "content.brainstorming-allow-ideas" | translate }}
          </mat-slide-toggle>
          <br />
          <mat-slide-toggle [(ngModel)]="brainstormingAllowRating">
            {{ "content.brainstorming-allow-rating" | translate }}
          </mat-slide-toggle>
          <p>{{ "content.note-on-changing-settings" | translate }}</p>
        </mat-card-content>

        <mat-card-actions>
          <button
            mat-stroked-button
            [disabled]="!canCreate()"
            (click)="openNew()">
            {{ "content.brainstorm-start" | translate }}
            <app-mat-spinner-overlay
              *ngIf="isCreating"
              [diameter]="20"
              [strokeWidth]="2"
              [color]="'on-primary'"></app-mat-spinner-overlay>
          </button>
        </mat-card-actions>
      </mat-card>
    }
    @if (brainstormingData) {
      <mat-card appearance="outlined">
        @if (!brainstormingData?.active) {
          <mat-card-header>
            <mat-card-title>
              {{
                "content.brainstorm-old-session-title" +
                  (isMobile ? "-short" : "") | translate
              }}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            {{
              "content.brainstorm-old-session-info"
                | translate: brainstormingData
            }}
          </mat-card-content>

          <mat-card-actions>
            <button
              mat-stroked-button
              class="primary-button"
              (click)="open()">
              {{ "content.brainstorm-old-session-show" | translate }}
            </button>
            @if (userRole > 0) {
              <button
                mat-stroked-button
                class="error-button"
                (click)="deleteSession()">
                {{ "content.brainstorm-old-session-delete" | translate }}
                <app-mat-spinner-overlay
                  *ngIf="isDeleting"
                  [diameter]="20"
                  [strokeWidth]="2"
                  [color]="'on-secondary'"></app-mat-spinner-overlay>
              </button>
            }
          </mat-card-actions>
        } @else {
          <mat-card-header>
            <mat-card-title>
              {{
                "content.brainstorm-join-session-title" +
                  (isMobile ? "-short" : "") | translate
              }}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            {{
              "content.brainstorm-join-session-info"
                | translate: brainstormingData
            }}
          </mat-card-content>

          <mat-card-actions>
            <button
              mat-stroked-button
              class="primary-button"
              (click)="open()">
              {{ "content.brainstorm-join-session-join" | translate }}
            </button>

            @if (userRole > 0) {
              <button
                mat-stroked-button
                class="secondary-button"
                (click)="closeSession()">
                {{ "content.brainstorm-join-session-close" | translate }}
                <app-mat-spinner-overlay
                  *ngIf="isClosing"
                  [diameter]="20"
                  [strokeWidth]="2"
                  [color]="'on-secondary'"></app-mat-spinner-overlay>
              </button>
            }
          </mat-card-actions>
        }
      </mat-card>
    }

    @if (userRole === 0 && !this.brainstormingData) {
      <mat-card appearance="outlined">
        <mat-card-content>
          {{ "content.brainstorm-no-session" | translate }}
        </mat-card-content>
      </mat-card>
    }
  }
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-stroked-button
    class="secondary-button"
    (click)="openHelp()">
    <mat-icon>question_mark</mat-icon>
    {{ "explanation.label" | translate }}
  </button>
  <span style="flex: 1"></span>
  <button
    mat-button
    class="secondary-button"
    mat-dialog-close="abort">
    {{ "content.cancel" | translate }}
  </button>
</mat-dialog-actions>
