<h3 matDialogTitle>{{ "update-info.title" | translate }}</h3>

<mat-dialog-content>
  <!-- TODO: <div
    markdown
    [data]="'update-info.description' | translate"></div> -->
</mat-dialog-content>

<app-dialog-action-buttons
  [buttonsLabelSection]="'update-info'"
  [confirmButtonLabel]="'install'"
  [confirmButtonClickAction]="onSubmit"
  [cancelButtonClickAction]="onCancel"></app-dialog-action-buttons>
