<m3-nav-pane>
  <router-outlet
    (activate)="onActive($event)"
    (detach)="onDetach($event)"
    (attach)="onAttach($event)"
    (deactivate)="onDeactivate($event)"></router-outlet>
</m3-nav-pane>

<style>
  #debugger {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 6px;
    bottom: 6px;
    z-index: 1000000;
    padding: 12px 8px;
    box-shadow: var(--mdc-elevation-box-shadow-for-gss);
    background-color: var(--mdc-chip-elevated-selected-container-color);
    border-radius: var(--mdc-chip-container-shape-radius);
    border-style: solid;
    border-width: var(--mdc-chip-outline-width);
    border-color: var(--mdc-chip-disabled-outline-color);

    > * + * {
      margin-top: 8px;
    }
  }

  #debugger-state-button {
    position: fixed;
    z-index: 1000000;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background-color: var(--md-sys-color-surface4);
  }
</style>
<button
  mat-icon-button
  id="debugger-state-button"
  *ngIf="!__debugger.isExtended"
  (click)="__debugger.__options.toggleExtension()">
  <mat-icon>arrow_left</mat-icon>
</button>
<div
  id="debugger"
  *ngIf="__debugger.isExtended">
  <mat-chip
    *ngFor="let option of __debugger.self"
    (click)="option[1]()">
    {{ option[0] }}
  </mat-chip>
  <div class="row content-start gap-small">
    <button
      mat-icon-button
      (click)="m3DynamicThemeService.themeType = 'light'">
      <mat-icon>light_mode</mat-icon>
    </button>
    <button
      mat-icon-button
      (click)="m3DynamicThemeService.themeType = 'dark'">
      <mat-icon>dark_mode</mat-icon>
    </button>
    <input [(colorPicker)]="m3DynamicThemeService.themeColor" />
  </div>
</div>
