@use "sass:map";

$_font-family: "Roboto Flex";
$_typescale: (
  display: (
    large: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-regular),
      size: 57,
      line-height: 64,
      tracking: -0.25,
    ),
  ),
  label: (
    medium: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-medium),
      size: 12,
      line-height: 16,
      tracking: 0.5,
    ),
    large: (
      font: var(--md-ref-typeface-plain),
      weight: var(--md-ref-typeface-weight-medium),
      size: 14,
      line-height: 20,
      tracking: 0.1,
    ),
  ),
);

@mixin typescale($type, $scale) {
  /// todo(lph) add validation
  font-family: #{map.get($_typescale, $type, $scale, font)};
  font-weight: #{map.get($_typescale, $type, $scale, weight)};
  font-size: #{map.get($_typescale, $type, $scale, size)}px;
  line-height: #{map.get($_typescale, $type, $scale, line-height)}px;
  letter-spacing: #{map.get($_typescale, $type, $scale, tracking)}px;
}

// todo(lph) this is taken from https://github.com/material-foundation/material-tokens
// check license before production.
@mixin all-typescale() {
  --md-ref-typeface-weight-regular: 400;
  --md-ref-typeface-weight-medium: 500;
  --md-ref-typeface-plain: #{$_font-family};
  @each $type, $_value in $_typescale {
    @each $scale, $_config in $_value {
      .#{$type}-#{$scale} {
        @include typescale($type, $scale);
      }
    }
  }
}
