@use "../../style/m3-typescale" as m3-typescale;

@mixin _label() {
}

@mixin component() {
  /// https://m3.material.io/components/navigation-drawer/specs#25f67916-87fa-4cbb-b390-175096ae559b
  .m3-label-button,
  .m3-label-button-active-indicator {
    transition: var(--m3-comp-nav-pane-transition);
  }
  .m3-navigation-bar-labels {
    @extend .m3-navigation-rail-labels;
    .m3-label-button {
      margin: 0;
      padding: 0;
    }
  }
  .m3-navigation-rail-labels {
    $label-width: 80;
    $label-height: 56;
    $active-indicator-height: 32;
    $active-indicator-shape: #{$active-indicator-height * 0.5};
    $active-indicator-width: 56;
    $active-indicator-padding: 12;
    $icon-size: 24;
    $left-padding: 0;
    $right-padding: 0;

    .m3-label-button {
      width: #{$label-width + 2}px;
      height: #{$label-height + 2}px;
      padding: 12px 0;
      margin-bottom: 12px;

      .m3-label,
      .m3-badge,
      .m3-icon {
        color: var(--md-sys-color-on-surface-variant);
      }

      &.activated {
        .m3-label-button-active-indicator {
          background-color: var(--md-sys-color-secondary-container);
        }
      }

      &:active,
      &.activated {
        .m3-label,
        .m3-badge,
        .m3-icon {
          color: var(--md-sys-color-on-secondary-container);
        }
      }

      .m3-label {
        @include m3-typescale.typescale(label, medium);
      }

      .mat-mdc-button-ripple,
      .m3-label-button-active-indicator {
        width: #{$active-indicator-width}px;
        height: #{$active-indicator-height}px;
        border-radius: #{$active-indicator-shape}px;
        margin-left: #{$active-indicator-padding}px;
        position: absolute;
      }

      .m3-icon {
        width: #{$active-indicator-width}px;
        height: #{$active-indicator-height}px;
        font-size: #{$icon-size}px;
        align-self: center;
        margin-top: 4px;
      }

      .m3-badge {
        display: none;
      }

      .m3-label-button-content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding-left: #{$left-padding}px;
        padding-right: #{$right-padding}px;

        > * + * {
          margin-left: 0;
        }
      }
    }
  }
  .m3-navigation-drawer-labels {
    $label-width: 360;
    $label-height: 56;
    $active-indicator-height: 56;
    $active-indicator-shape: #{$active-indicator-height * 0.5};
    $active-indicator-width: 336;
    $active-indicator-padding: 12;
    $icon-size: 24;
    $left-padding: 28;
    $right-padding: 28;

    .m3-label-button {
      width: #{$label-width}px;
      height: #{$label-height}px;
      padding: 0;
      margin: 0;

      .m3-label,
      .m3-badge,
      .m3-icon {
        color: var(--md-sys-color-on-surface-variant);
      }

      &.activated {
        .m3-label-button-active-indicator {
          background-color: var(--md-sys-color-secondary-container);
        }
      }

      &:active,
      &.activated {
        .m3-label,
        .m3-badge,
        .m3-icon {
          color: var(--md-sys-color-on-secondary-container);
        }
      }

      .m3-label {
        @include m3-typescale.typescale(label, large);
        align-self: center;

        & + * {
          margin-left: 14px;
        }
      }

      .mat-mdc-button-ripple,
      .m3-label-button-active-indicator {
        width: #{$active-indicator-width}px;
        height: #{$active-indicator-height}px;
        border-radius: #{$active-indicator-shape}px;
        margin-left: #{$active-indicator-padding}px;
        position: absolute;
      }

      .m3-icon {
        width: #{$icon-size}px;
        height: #{$icon-size}px;
        font-size: #{$icon-size}px;
        align-self: center;
      }

      .m3-badge {
        @include m3-typescale.typescale(label, large);
        flex-grow: 1;
        text-align: end;
        align-self: center;
      }

      .m3-label-button-content {
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        box-sizing: border-box;
        padding-left: #{$left-padding}px;
        padding-right: #{$right-padding}px;

        > * + * {
          margin-left: #{$active-indicator-padding}px;
        }
      }
    }
  }
}
