//@import "style/coloring.scss";
//@import "style/typography.scss";
//@import "style/layout.scss";
@import "style/toast-ui-theme.scss";
@import "material-icons/iconfont/material-icons.scss";
//@import "~katex/dist/katex.min.css";
//@import "~prismjs/plugins/line-numbers/prism-line-numbers.css";
//@import "~prismjs/plugins/line-highlight/prism-line-highlight.css";

$replacement: rgba(255, 255, 0, 0.3);
$replacement-text: rgba(181, 4, 166, 0.802);

:root {
  --primary: #{$replacement};
  --secondary: #{$replacement};
  --background: #{$replacement};
  --surface: #{$replacement};
  --dialog: #{$replacement};
  --cancel: #{$replacement};
  --on-primary: #{$replacement-text};
  --on-secondary: #{$replacement-text};
  --on-background: #{$replacement-text};
  --on-surface: #{$replacement-text};
  --on-dialog: #{$replacement-text};
  --on-cancel: #{$replacement-text};
  --green: #{$replacement};
  --red: #{$replacement};
  --white: #{$replacement};
  --yellow: #{$replacement};
  --blue: #{$replacement};
  --purple: #{$replacement};
  --magenta: #{$replacement};
  --light-green: #{$replacement};
  --grey: #{$replacement};
  --grey-light: #{$replacement};
  --black: #{$replacement};
  --livepoll-primary: #{$replacement};
  --livepoll-primary--disabled: #{$replacement};
  --livepoll-primary--hover: #{$replacement};
  --on-livepoll-primary: #{$replacement-text};
  --on-livepoll-primary--disabled: #{$replacement-text};
  --on-livepoll-primary--hover: #{$replacement-text};
  --livepoll-secondary: #{$replacement};
  --livepoll-secondary--disabled: #{$replacement};
  --livepoll-secondary--hover: #{$replacement};
  --on-livepoll-secondary: #{$replacement-text};
  --on-livepoll-secondary--disabled: #{$replacement-text};
  --on-livepoll-secondary--hover: #{$replacement-text};
}

:root {
  --custom-stars: #caca28;
}

// specficity: (0, 3, 0)
// Fix dialog issues with button touch target
button.mdc-button.mdc-button--outlined {
  margin-block: calc((48px - var(--mdc-outlined-button-container-height)) / 2);
}

html,
body {
  margin: 0;
  height: 0;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -10000px;
}

.chatgpt-robot-icon {
  background-color: currentColor;
  mask: url(/assets/images/chat_bot.svg) no-repeat center / contain;
  font-size: 1em;
  width: 1em;
  height: 1em;
  display: inline-block;
  line-height: 0.75;
  padding-right: 0.75em;
  scale: 2;
}

a.info {
  position: relative;
  text-decoration: none;
}

a.info span {
  position: absolute;
  left: -9000px;
  width: 0;
  overflow: hidden;
  font-size: 12px;
  z-index: 1;
  pointer-events: none;
}

a.info:hover span,
a.info:focus span,
a.info:active span {
  display: block;
  position: absolute;
  top: 1.3em;
  left: 0;
  width: max-content;
  background-color: var(--primary);
  color: var(--on-primary);
  text-align: left;
  padding: 5px;
}
