<!-- TODO https://m3.material.io/components/navigation-bar/guidelines#bfa65899-098c-43d5-9639-1e7f2461ca06 -->
<!-- TODO https://m3.material.io/components/navigation-rail/overview -->
<mat-toolbar
  class="mat-elevation-z24"
  id="footer-toolbar"
  *ngIf="!router.url.endsWith('/quiz')">
  <ng-container *ngIf="router.url.includes('/room/')">
    <button
      (click)="openDashboard()"
      [joyrideStep]="'dashboard'"
      [stepPosition]="'center'"
      appJoyrideTemplate
      mat-button>
      <span
        [matTooltip]="'footer.notifications-button' | translate"
        matBadgeSize="small"
        matBadgePosition="above after"
        [matBadge]="change.getList().length || 0"
        [matBadgeHidden]="+change.getList().length < 1">
        <mat-icon>notifications</mat-icon>
      </span>
      <span *ngIf="!isMobile && router.url.endsWith('/home')">
        {{ "Dashboard" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container *ngIf="!this.tourSite && (!this.user || !isMobile)">
    <button
      [matTooltip]="'footer.introduction-button' | translate"
      (click)="showDemo()"
      [joyrideStep]="'introduction'"
      [stepPosition]="'center'"
      appJoyrideTemplate
      aria-labelledby="demo-label"
      mat-button>
      <mat-icon>summarize</mat-icon>
      <span *ngIf="!isMobile">
        {{ "footer.demo" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container *ngIf="this.tourSite && (!this.user?.loginId || !isMobile)">
    <button
      [matTooltip]="'footer.help-button' | translate"
      (click)="showCurrentTour()"
      aria-labelledby="site-tour-label"
      mat-button>
      <mat-icon>question_mark</mat-icon>
      <span *ngIf="!isMobile">
        {{ "footer.help" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container>
    <button
      [matTooltip]="'footer.display-button' | translate"
      [matMenuTriggerFor]="themeMenu"
      aria-labelledby="style-label"
      mat-button>
      <mat-icon>format_color_fill</mat-icon>
      <span *ngIf="!isMobile">
        {{ "footer.style" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container>
    <button
      [matTooltip]="'footer.language-button' | translate"
      [matMenuTriggerFor]="langMenu"
      (menuOpened)="openMenu()"
      aria-labelledby="language-label"
      id="language-menu"
      mat-button>
      <mat-icon>language</mat-icon>
      <span *ngIf="!isMobile">
        {{ "footer.language" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container *ngIf="!isMobile">
    <button
      [matTooltip]="'footer.gdpr-button' | translate"
      (click)="showDataProtection()"
      aria-labelledby="data-protection-label"
      mat-button>
      <mat-icon>security</mat-icon>
      <span>
        {{ "footer.dsgvo" | translate }}
      </span>
    </button>
    <span></span>
  </ng-container>

  <ng-container *ngIf="!isMobile">
    <button
      [matTooltip]="'footer.imprint-button' | translate"
      (click)="showImprint()"
      aria-labelledby="imprint-label"
      mat-button>
      <mat-icon>privacy_tip</mat-icon>
      <span>
        {{ "footer.imprint" | translate }}
      </span>
    </button>
  </ng-container>

  <ng-container *ngIf="isMobile">
    <button
      [matTooltip]="'footer.options-button' | translate"
      [matMenuTriggerFor]="menu"
      mat-button>
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>

<div class="visually-hidden">
  <div id="help-label">
    {{ "footer.accessibility-help" | translate }}
  </div>
  <div id="demo-label">
    {{ "footer.accessibility-demo" | translate }}
  </div>
  <div id="site-tour-label">
    {{ "footer.accessibility-site-tour" | translate }}
  </div>
  <div id="style-label">
    {{ "footer.accessibility-style" | translate }}
  </div>
  <div id="language-label">
    {{ "footer.accessibility-language" | translate }}
  </div>
  <div id="data-protection-label">
    {{ "footer.accessibility-data_protection" | translate }}
  </div>
  <div id="imprint-label">
    {{ "footer.accessibility-imprint" | translate }}
  </div>
  <div id="style-default-label">{{ "footer.style-default" | translate }}</div>
  <div id="style-dark-label">{{ "footer.style-dark" | translate }}</div>
  <div id="style-purple-label">{{ "footer.style-purple" | translate }}</div>
  <div id="style-blue-label">{{ "footer.style-blue" | translate }}</div>
</div>

<mat-menu
  #langMenu="matMenu"
  [overlapTrigger]="false">
  <button
    (click)="useLanguage('de')"
    mat-menu-item>
    {{ "footer.german" | translate }}
  </button>
  <button
    (click)="useLanguage('en')"
    mat-menu-item>
    {{ "footer.english" | translate }}
  </button>
  <button
    (click)="useLanguage('fr')"
    mat-menu-item>
    {{ "footer.french" | translate }}
  </button>
</mat-menu>

<mat-menu #menu="matMenu">
  <button
    mat-menu-item
    (click)="showCurrentTour()"
    *ngIf="this.tourSite && this.user?.loginId"
    aria-labelledby="site-tour-label">
    <mat-icon>question_mark</mat-icon>
    <span>{{ "footer.demo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showDemo()"
    *ngIf="!this.tourSite && this.user"
    aria-labelledby="demo-label">
    <mat-icon>info</mat-icon>
    <span>{{ "footer.demo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showDataProtection()">
    <mat-icon>security</mat-icon>
    <span>{{ "footer.dsgvo" | translate }}</span>
  </button>
  <button
    mat-menu-item
    (click)="showImprint()">
    <mat-icon>privacy_tip</mat-icon>
    <span>{{ "footer.imprint" | translate }}</span>
  </button>
</mat-menu>

<mat-menu
  #themeMenu="matMenu"
  [overlapTrigger]="false"
  cdkTrapFocus>
  <button
    [disabled]="m3ThemeService.themeType === 'light'"
    mat-menu-item
    (click)="m3ThemeService.themeType = 'light'">
    <mat-icon>light_mode</mat-icon>
    Light
  </button>
  <button
    [disabled]="m3ThemeService.themeType === 'dark'"
    mat-menu-item
    (click)="m3ThemeService.themeType = 'dark'">
    <mat-icon>dark_mode</mat-icon>
    Dark
  </button>
</mat-menu>
